$archie:rgb(44, 180, 78);
$primary:rgb(77, 193, 236);


@mixin borderRadius($x){
  border-radius: $x;
}
@mixin display($where){
  display:$where;
}

body{
  background: $archie;
}
#parameters{
  display:block;
  width:95%;
  line-height:25px;
  font-size: 25px;
  input{
    width:100%;
    text-align: center;
    @include borderRadius(10px);
  }
  button{
    background:$primary;
    padding:2px;
    width:100%;
    @include display(center);
    @include borderRadius(10px);
  }
}
#right{
  width:50%;
  float:right;
}
#left{
    width:20%;
    height:100vh;
    float:left;
    background: rgb(83, 244, 181);
}
#app_title{
  font-weight: bold;
  font-size: 30px;
  font-family: cursive;
  color:#000;
  width: 100%;
}
