//sass variables
/**********************/
$archie:rgb(44, 180, 78);
$primary:rgb(77, 193, 236);

//sass mixins
/*************************/
@mixin borderRadius($x){
  border-radius: $x;
}
@mixin display($where){
  display:$where;
}
@mixin realativeContainer($what){
  width:50%;
  display:$what;
  padding:10px;
  margin:10px;
  font-size:19px;
  text-transform: uppercase;

}
@mixin archie($color){
  background: $color;
  border-radius:5px;
}

//styling starts here
/*************************/
body{
  background: $archie;
  height:100vh;
}
#parameters{
  display:block;
  width:95%;
  line-height:25px;
  font-size: 25px;
  input{
    width:100%;
    height:40px;
    text-align: center;
    @include borderRadius(10px);
  }
  button{
    background:$primary;
    padding:2px;
    width:100%;
    @include display(center);
    @include borderRadius(10px);
  }
  .radio{
    width:10% !important;

  }
  .radioButtons{
    text-align: center;
    font-size:16px;
  }
}
#right{
  width:80%;
  text-align: center;
  float:right;
}
#left{
    width:20%;
    height:100vh;
    float:left;
    background: rgb(83, 244, 181);
}
#app_title{
  font-weight: bold;
  font-size: 30px;
  font-family: cursive;
  color:#000;
  width: 100%;
}
#container{
  width:100vh;
  text-align: center;
  float:none;
  padding-top:5%;
  cursor:pointer;
  overflow-y: hidden;
  .row{
    //width:100%;
    padding:5px;
    text-align: center;
    .father{
      @include realativeContainer(inline);
      @include archie(rgb(46, 83, 193));
    }
    .mother{
      @include realativeContainer(inline);
      @include archie(rgb(232, 104, 235));
    }
    .child{
      width:100px;
      text-align: center;
      padding:10px;
      margin:10px;
      font-size:19px;
      text-transform: uppercase;
      @include archie(rgb(124, 193, 26));
    }
  }
  .vl{
    height:20px;
    border-left:6px solid red;
    position:relative;
    left:500px;
  }
}
